@import './base.css';

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(206, 199, 191); /* Set background color for the body */
  margin: 0; /* Remove default body margin */
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; /* Add padding to create space around the content */
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(142, 158, 154);
  transition: 0.4s;
  padding: 3px;
}

/* Styles for mobile devices */
@media (max-width: 767px) {
  #app {
    padding: 1rem; /* Adjust padding for smaller screens */
  }
}

@media (min-width: 767px) {
  #app {
    padding: 1rem; /* Adjust padding for smaller screens */
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    width: 50%;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
